'.source.js, .source.jsx, .source.ts, .source.js-semantic':

	'Metal JSX Component':
		prefix: 'mjsx'
		body: """
			import Component, {Config} from \'metal-jsx\';

			class ${1:MyComponent} extends Component {
				render() {
					return (
						${2:<div>MyComponent</div>}
					);
				}
			}

			${1:MyComponent}.PROPS = {
			};

			export default ${1:MyComponent};
		"""

	'Transition Component':
		prefix: 'mtran'
		descriptionMoreURL: 'https://github.com/bryceosterhaus/metal-css-transitions'
		body: """
				<Transition name="$1">
						$2
				</Transition>
		"""