'.source.js, .source.jsx, .source.ts, .source.js-semantic':

	'Bind Function':
		prefix: 'bind'
		body: """
			this.${1} = this.${1}.bind(this);
		"""

	'Metal JSX Component':
		prefix: 'jsx'
		body: """
			import Component, {Config} from \'metal-jsx\';

			class ${1:MyComponent} extends Component {
				render() {
					return (
						${2:<div>MyComponent</div>}
					);
				}
			}

			${1:MyComponent}.PROPS = {
			};

			${1:MyComponent}.STATE = {
			};

			export default ${1:MyComponent};
		"""

	'Transition Component':
		prefix: 'trans'
		descriptionMoreURL: 'https://github.com/bryceosterhaus/metal-css-transitions'
		body: """
				<Transition name="$1">
						$2
				</Transition>
		"""