'.source.js, .source.jsx, .source.ts, .source.js-semantic':

  'Created Lifecycle':
      prefix: 'mcre'
      body: '
        created() {
            ${1}
        }
      '

  'Rendered Lifecycle':
      prefix: 'mren'
      body: '
        rendered() {
            ${1}
        }
      '

  'Attached Lifecycle':
      prefix: 'matt'
      body: '
        attached() {
            ${1}
        }
      '

  'Detached Lifecycle':
      prefix: 'mdet'
      body: '
        detached() {
            ${1}
        }
      '

  'Disposed Lifecycle':
      prefix: 'mdis'
      body: '
        disposed() {
            ${1}
        }
      '

  'Should Update Lifecycle':
      prefix: 'mshup'
      body: '
        shouldUpdate(changes) {
            ${1}
        }
      '

  'Sync Attribute Lifecycle':
      prefix: 'msync'
      body: '
        sync$1(newVal, prevVal) {
            ${2}
        }
      '