'.source.js, .source.jsx, .source.ts, .source.js-semantic':

	'attached()':
			prefix: 'att'
			description: 'Metal component `attached` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				attached() {
					${1}
				}
			"""

	'created()':
			prefix: 'cre'
			description: 'Metal component `created` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				created() {
					${1}
				}
			"""

	'detached()':
			prefix: 'det'
			description: 'Metal component `detached` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: '
				detached() {
					${1}
				}
			'

	'disposed()':
			prefix: 'dis'
			description: 'Metal component `disposed` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				disposed() {
					${1}
				}
			"""

	'render()':
			prefix: 'ren'
			description: 'Metal component `render` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				render(newVal, prevVal) {
					return (
						${2}
					);
				}
			"""

	'rendered()':
			prefix: 'rend'
			description: 'Metal component `rendered` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				rendered() {
					${1}
				}
			"""

	'shouldUpdate()':
			prefix: 'shup'
			description: 'Metal component `shouldUpdate` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				shouldUpdate(newState, newProps) {
					${1}
				}
			"""

	'sync[attr]()':
			prefix: 'sync'
			description: 'Metal component `sync[attr]` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				sync$1(newVal, prevVal) {
					${2}
				}
			"""