'.source.js, .source.jsx, .source.ts, .source.js-semantic':

	'created()':
			prefix: 'mcre'
			description: 'Metal component `created` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				created() {
						${1}
				}
			"""

	'rendered()':
			prefix: 'mren'
			description: 'Metal component `rendered` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				rendered() {
						${1}
				}
			"""

	'attached()':
			prefix: 'matt'
			description: 'Metal component `attached` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				attached() {
						${1}
				}
			"""

	'detached()':
			prefix: 'mdet'
			description: 'Metal component `detached` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: '
				detached() {
						${1}
				}
			'

	'disposed()':
			prefix: 'mdis'
			description: 'Metal component `disposed` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				disposed() {
						${1}
				}
			"""

	'shouldUpdate()':
			prefix: 'mshup'
			description: 'Metal component `shouldUpdate` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				shouldUpdate(changes) {
						${1}
				}
			"""

	'sync[attr]()':
			prefix: 'msync'
			description: 'Metal component `sync[attr]` lifecycle method'
			descriptionMoreURL: 'http://metaljs.com/docs/component-lifecycle.html'
			body: """
				sync$1(newVal, prevVal) {
						${2}
				}
			"""