'.source.js, .source.jsx, .source.ts, .source.js-semantic':
	'setState()':
		prefix: 'sst'
		description: 'Metal component method that updates state'
		descriptionMoreURL: 'http://metaljs.com/docs/state.html'
		body: 'this.setState({$1});'