'.source.js, .source.jsx, .source.ts, .source.js-semantic':

	'Config.any':
		prefix: 'conan'
		description: 'Validates any type'
		body: 'Config.any()'

	'Config.array':
		prefix: 'conarr'
		description: 'Validates an array type'
		body: 'Config.array()'

	'Config.arrayOf':
		prefix: 'conarro'
		description: 'Validates an arrayOf type'
		body: 'Config.arrayOf($1)'

	'Config.bool':
		prefix: 'conboo'
		description: 'Validates a boolean type'
		body: 'Config.bool()'

	'Config.func':
		prefix: 'confun'
		description: 'Validates a function type'
		body: 'Config.func()'

	'Config.instanceOf':
		prefix: 'conino'
		description: 'Validates an instance of a constructor'
		body: 'Config.instanceOf($1)'

	'Config.number':
		prefix: 'connum'
		description: 'Validates a number type'
		body: 'Config.number()'

	'Config.object':
		prefix: 'conob'
		description: 'Validates an object type'
		body: 'Config.object()'

	'Config.objectOf':
		prefix: 'conobo'
		description: 'Validates an object of a specific type'
		body: 'Config.objectOf($1)'

	'Config.oneOfType':
		prefix: 'conoot'
		description: 'Validates one of multiple types'
		body: """
			Config.oneOfType(
				[
					$1,
				]
			)
		"""

	'Config.shapeOf':
		prefix: 'consha'
		description: 'Validates the shape of an object'
		body: """
			Config.shapeOf(
				{
					$1
				}
			)
		"""

	'Config.string':
		prefix: 'constr'
		description: 'Validates a string type'
		body: 'Config.string()'